# Core scientific packages
numpy
h5py
pandas[parquet]

# Visualization
matplotlib

# Geospatial
shapely
geopandas

# Testing
hypothesis[numpy]
pytest
pytest-cov
pytest-repeat

# Project dependencies
numba
pyyaml
tqdm
typer
threadpoolctl

# Tool dependencies
cartopy

# In-house dependencies
qcore @ git+https://github.com/ucgmsim/qcore.git
