name: Deptry Dependency Check

on: [pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      # Setup the minimum required python distribution
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      # Install deptry
      - run: pip install deptry
      # Install the package and its dependencies from pyproject.toml
      # This installs main dependencies but not optional test dependencies
      - run: pip install .
      # Run deptry to check that all dependencies are present.
      # deptry automatically reads from pyproject.toml
      - run: deptry .
